{
  "auth": [
    {
      "clientId": "XXXX",
      "clientSecret": "XXXX",
      "accountId": "XXXX"
    },
    {
      "clientId": "XXXX",
      "clientSecret": "XXXX",
      "accountId": "XXXX"
    },
    {
      "clientId": "XXXX",
      "clientSecret": "XXXX",
      "accountId": "XXXX"
    }        
  ]
}
