extends layout

block content
  .w3-container
    if loggedIn
      h4 You are logged in!
    else
      script.
        var login = function() {
        var accountId = document.getElementById('accountId').value;
        if (accountId) {
        axios.get(`/auth/${accountId}`)
            .then((response)=>{
                console.log(response.data);
                if(response.status === 200){
                    console.log(response);
                    window.location.replace(`api/account/${accountId}/sso`);
                }
            })
            .catch((err) =>{
                console.log('Error While Login');
                console.log(err);
            })
          }
        }
      h4 You are not logged in!
      input(id="accountId" name="accountId" placeholder="Enter Account ID")
      button(onclick='login()') Login with SSO
